html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  font-size: clamp(100%, 1rem + 2vw, 24px);
}

html,
body {
  overflow-x: hidden;
}

.page {
  display: grid;
  grid-template-columns: repeat(1fr, 12);
}

header {
  display: flex;
  grid-area: "header";
  box-shadow: 3ex;
  background-color: #368729;
  background-repeat: repeat;
  background-size: cover;
  color: white;
  border: 2px white solid;
  position: sticky;
  inset-block-start: 0;
}

.title {
  margin: auto;
  width: fit-content;
  font-size: clamp(2.5rem, 3.2vw + 2rem, 4rem);
  text-align: center;
  align-self: center;
}

.logo {
  max-width: 20%;
}

footer>* {
  background-color: rgb(54 135 41);
  color: white;
}

footer {
  position: sticky;
}

.content-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-card {
  border: 1px black solid;
  width: 26em;
  margin: 0.5em;
  height: 20em;
}

.content-card img {
  object-fit: contain;
}

.promo-bg {
  display: flex column;
  flex-wrap: wrap;
  margin-block-start: 8em;
  padding: 1em;
  gap: 13em;
}

.layout__children {
  grid-area: "outlet";
}

.layout>* {
  border: 2px black solid;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.layout__menu {
  padding: 1rem;
}

.navbar {
  gap: 0.3rem;
}

.navbar__menu {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  z-index: 0;
}

select:disabled {
  opacity: 1;
}

.farminfo__details>option {
  background: greenyellow;
}

.layout__menu .menu__authentication {
  display: flex;
  gap: 1em;
}