.post.post__input {
    display: grid;
    gap: 1.5em;
}

.post__input.input__editor {
    border: 1px solid var(--color-cabi-100)
}

.post__input.input__type {
    display: flex;
    gap: 1em;
}

.input__type.type__heading {
    min-width: max-content;
}

.post__input.post__send {
    place-self: end;
    max-width: 30%;
}